.index {
    background-image: url("../img/Background.png");
}

body {
    font-family: 'Alfa Slab One';
    color: #FFFFFF;
}


.lista-nav {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-direction: row;
    background-image: url("../img/Background.png");
}

.item-nav {
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
}

.logotipo {
    width: 279px;
    height: 82px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.botao-contato {
    margin-right: auto;
}

.botao-contato, .botao-descubra {
    padding: .5rem;
    border: solid 4px #FFFFFF;
    background-color: #ffffff00;
    color: #FFFFFF;
    font-family:'Courier New', Courier, monospace;
}

.botao-contato:hover, .botao-descubra:hover {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: bold;
}


.corpo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 300px;
    right: 0;
    padding-right: 3rem;
}

.corpo-texto1 {
    font-weight: 400;
    font-size: 130px;
    text-shadow: 15px 15px #000000;
}

.corpo-texto2 {
    text-shadow: 2px 2px #000000;
}

.quem-somos {
    background-color: #1a1a1a;
}